$color-primary: #0575e6;
$color-secondary: #021b79;
$color-extra: #555555;
$color-dark: #000000;
$color-light: #ffffff;
$font1: "Roboto", sans-serif;
$font2: "Roboto Mono", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin bg-gradient {
  background: $color-primary; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgba($color-primary, 0.8),
    rgba($color-secondary, 0.7)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    rgba($color-primary, 0.8),
    rgba($color-secondary, 0.7)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

@mixin font($size) {
  font-size: $size;
  line-height: ($size/5) + $size;
}

body {
  font-family: $font1;
  @include font(18px);
  color: $color-extra;
  width: 100%;
  font-weight: 400;

  color: #555;
}

ul {
  list-style: none;
}

.container {
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
html {
  scroll-padding-top: 50px; /* height of sticky header */
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

